.App {
  font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
}

.body-style{
  background: none no-repeat scroll 0 0 #fff;
  position: relative;
}

.round-div-corner {
  text-align: center;

  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 500px;
  height: 45px;
}

body:after{
  content: "beta";
  position: fixed;
  width: 80px;
  height: 25px;
  background: #EE8E4A;
  top: 7px;
  left: -20px;
  text-align: center;
  font-size: 13px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 27px;
  -ms-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
